.videoPlayerContainer {
  width: calc(100% - 380px);
}

@media (max-width: 899px) {
  .videoPlayerContainer {
    width: 100%;
  }
}

.autoResizableIframe {
  margin: 0px auto;
}

.autoResizableIframe > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0px;
}

.autoResizableIframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
